footer {
    width: 100%;
    background-color: #F9D0A3;
}

footer ul {
    margin-left: 10rem;
    padding: 2rem;
    list-style: none;
}

footer ul li img {
    margin-bottom: 1rem;
    width: 3rem;
    height: 3rem;
}

footer ul li img:hover {
    cursor: pointer;
}