
<main>
    <h1>À propos</h1>

    <section>
        <div></div>
        <figure class="figure-right">
            <h2>Présentation</h2>
            <p>Bienvenue dans le monde d’"Au petit village", une entreprise passionnée et artisanale dédiée à la fabrication de figurines faites main, inspirées de l’univers intemporel d’Astérix et Obélix.
                Fondée par des amateurs inconditionnels de la célèbre bande dessinée, notre entreprise est un hommage à l’esprit indomptable et à l’humour des irréductibles Gaulois.</p>
            <button routerLink='/home'>Voir plus</button>
        </figure>
    </section>

    <section>
        <div></div>
        <figure class="figure-left">
            <h2>Notre Mission</h2>
            <p>Nous nous donnons pour mission de faire revivre l’univers d’Astérix et Obélix à travers des créations uniques et authentiques, qui séduisent aussi bien les collectionneurs que les amoureux 
                de la bande dessinée. Chaque figurine est réalisée avec soin et détail, pour capturer l’essence des personnages et des scènes emblématiques qui ont marqué des générations.</p>
        </figure>
    </section>

    <section>
        <div></div>
        <figure class="figure-right">
            <h2>Nos Engagements</h2>
            <ul>
                <li><strong>Authenticité</strong> : Chaque figurine est inspirée directement de l’univers visuel et narratif d’Astérix et Obélix, dans le respect de leur esprit original.</li>
                <li><strong>Qualité artisanale </strong>: Toutes nos créations sont réalisées à la main avec des matériaux durables et de haute qualité.</li>
                <li><strong>Accessibilité </strong>: Notre offre s’adapte à tous, des amateurs occasionnels aux collectionneurs avertis.</li>
                <li><strong>Passion </strong>: Notre travail reflète notre amour inconditionnel pour cet univers, et nous cherchons à transmettre cette passion à travers nos produits.</li>
            </ul>
        </figure>
    </section>

    <section>
        <div></div>
        <figure class="figure-left">
            <h2>Pourquoi choisir "Au petit village"?</h2>
            <p>Avec "Au petit village", vous ne faites pas qu’acheter une figurine : vous rejoignez une communauté de passionnés et partagez un morceau d’histoire. Plongez dans un voyage nostalgique 
                au cœur d’un petit village où l’art, l’humour et l’esprit d’aventure gaulois prennent vie à travers nos créations.</p>
            <button href="#">Voir plus</button>
        </figure>

    </section>
</main>
