
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #320F0A;
    margin-top: 100px;
    margin-top: 100px;
}

@media (min-width:1025px) {

    main aside {
        display: flex;
        position: relative;
        padding: 0 10%;
        margin-top: 5rem;
        align-items: center;
    }

    main aside div {
        position: relative;
        width: 800px;
        height: 600px;
        border-radius: 5px;
        background-color: #DA001E;
        float: left;
    }

    main aside figure {
        position: absolute;
        max-width: 400px;
        background-color: #F9D0A3;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        line-height: 1.5;
    }

    main aside .figure-right {
        right: 0;
    }

    main aside .figure-right::after {
        background-color: #FDD90B;
        background-image: -webkit-linear-gradient(-270deg, #FDD90B 0%, #4cd8b0 100%);
        border-bottom-right-radius: .25rem;
        border-top-right-radius: .25rem;
        bottom: 0;
        content: "";
        display: block;
        height: 100%;
        right: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: .25rem;
    }

    main aside .figure-left {
        left: 0;
    }
 
    main aside .figure-left::before {
        background-color: #FDD90B;
        background-image: -webkit-linear-gradient(-270deg, #FDD90B 0%, #4cd8b0 100%);
        border-bottom-left-radius: .25rem;
        border-top-left-radius: .25rem;
        bottom: 0;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: .25rem;
    }

}

main aside figure {
    background-color: #F9D0A3;
    padding: 20px;
    margin: 0;
    line-height: 1.5;
}

main aside figure button{
    border: none;
    font-size: 1.2rem;
    background-color: #F9D0A3;
    width: 100%;
    height: 2rem;
    color: #151217;
}

main aside figure button:hover {
    transition: 0.5s;
    background-color: #151217;
    color: #DA001E;
}

main h3 {
    font-size: 2rem;
    margin-top: 100px;
}

main h4 {
    font-size: 1.3rem;
}

main .container-barre {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main label {
    padding: 0.5rem;
}

main select {
    align-self: start;
    border-radius: 2rem;
    padding: 0.5rem;
}

main .container-search {
    border: solid 1px black;
    margin-right: 2rem;
    border-radius: 2rem;
    padding-left: 1rem;
}

main .container-search input{
    border: none;
}

main .container-search input:focus{
    outline: none;
}

main .container-search button {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    border-right: none;
    background-color: white;
}

main .container-search button img{
    width: 1rem;
    height: 1rem;
}

main .container-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .container-product article {
    border-radius: 2rem;
    box-shadow: 0 4px 6px 6px rgba(0, 0, 0, 0.1);
    width: 20rem;
    margin: 2rem;
}

main .container-product article img {
    width: 20rem;
    height: 20rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}