
<main>

    <h1>Au petit village</h1>

    <aside>
        <div></div>
        <figure class='figure-right'>
            <h2>Présentation</h2>
            <p>Bienvenue dans le monde d’Au petit village, une entreprise passionnée et artisanale dédiée à la fabrication de figurines faites main, inspirées de l’univers intemporel d’Astérix et Obélix.
                Fondée par des amateurs inconditionnels de la célèbre bande dessinée, notre entreprise est un hommage à l’esprit indomptable et à l’humour des irréductibles Gaulois.</p>
            <button routerLink='/about'>Voir plus</button>
        </figure>
    </aside>

    <aside>
        <div></div>
        <figure class='figure-left'>
            <h2>Pourquoi choisir 'Au petit village'?</h2>
            <p>Avec 'Au petit village', vous ne faites pas qu’acheter une paire : vous rejoignez une communauté de passionnés et partagez un morceau d’histoire. Plongez dans un voyage nostalgique 
                au cœur d’un petit village où l’art, l’humour et l’esprit d’aventure gaulois prennent vie à travers nos créations.</p>
        </figure>
    </aside>

    <h3>Catalogue des Produits</h3> 

    <section class='container-barre'>
        <div class='container-trie'>
            <label>Trier par prix :</label>

            <select [(ngModel)]='sortOrder'>
                <option value="asc">Prix croissant</option>
                <option value="desc">Prix décroissant</option>
            </select>
        </div>
        <input type='search' [(ngModel)]='filterOrder' placeholder='Rechercher un produit...' />
    </section>

    <section class='container-product'>
        <article *ngFor='let item of (list | sortByPrice:sortOrder | filterByName:filterOrder)' [routerLink]="['/product', item.id]">
            <img src='{{item.photo}}' alt='photo de {{item.name}}'>
            <figure>
                <h4>{{item.name}}</h4>
                <p>{{item.description}}</p>
                <p>{{item.price | currency:'EUR'}}</p>
            </figure>
        </article>
    </section>
</main>
